
.indexFrontLogo{
  height: 35vw;
}
.indexAboutHeader{
  height: 9vw;
}
.AboutHeaderText{
    font-size: 9vw;
    font-family: 'Reenie Beanie', cursive;

}
.AboutBodyText{
  font-size: 2vw;
  font-family: 'Cantata One', serif;

}
.indexAboutBody{
    height: 26vw;
}
.mainLogo{
  width:38vw;
}
.imgCenter{
  justify-content: center;
  text-align: center;
}
