.indexNavContentHeight{
  height: 7.9vw;
}
.indexFrontLogo{
  height: 35vw;
}
.indexAboutHeader{
  height: 9vw;
}
.indexAboutBody{
    height: 26vw;
}
.mainLogo{
  width:55vw;
}
.imgCenter{
  justify-content: center;
  text-align: center;
}
