html{
    overflow-x: hidden;
}


.divider1{
  height: 2.5vw;
}
.divider2{
  height: 5vw;
}
.divider3{
  height: 10vw;
}
.divider4{
  height: 15vw;
}
.divider5{
  height: 20vw;
}

.navHeight{
  height: 8vw;
  width: 100vw;
}
.navHead{
  background-color: #c6c5b9;
}

.row{
  border: 1px solid blue;
}
.col{
    border: 1px solid blue;
}
.col-1{
    border: 1px solid blue;
}
.col-2{
    border: 1px solid blue;
}
.col-3{
    border: 1px solid blue;
}
.col-4{
    border: 1px solid blue;
}
.col-5{
    border: 1px solid blue;
}
.col-6{
    border: 1px solid blue;
}
.col-7{
    border: 1px solid blue;
}
.col-8{
    border: 1px solid blue;
}
.col-9{
    border: 1px solid blue;
}
.col-10{
    border: 1px solid blue;
}
.col-11{
    border: 1px solid blue;
}
.col-12{
    border: 1px solid blue;
}

.bottomContact{
  height: 14vw;
}
.bottomContactMini{
    height: 7vw;
}
