html{
    overflow-x: hidden;
}
.backgroundBelow1{
  background-color: #cf8a54;
   background-image: linear-gradient(#cf8a54, #e6bd9b);
}
.backgroundBelow{
  background-color: #e6bd9b;
  background-image: linear-gradient(#e6bd9b, #cf8a54);
}
.backgroundBelow2{
    background-color: #e6bd9b;
}
.divider{
  height: 1vw;
}
.divider1{
  height: 2.5vw;
}
.divider2{
  height: 5vw;
}
.divider3{
  height: 10vw;
}
.divider4{
  height: 15vw;
}
.divider5{
  height: 20vw;
}

.navHeight{
  height: 8vw;
  width: 100vw;
}
.ribbon{
  background-color: #bb2828;
}
.indexNavContentHeight{
  height: 6.5vw;
    background-color: #e6bd9b;
     background-image: linear-gradient(to right, #e6bd9b , #cf8a54);
    border-color: #bb2828;
 border-style: solid;
    border-width: 0.25vw;
}
.bottomContact{
  height: 14vw;
}
.bottomContactMini{
    height: 7vw;
}

.socialimg {
  width: 3vw;
  height: 3vw;
   transition: 0.3s;
}
.socialimg:hover{
  width:3.5vw;
    height: 3.5vw;
}
.headNav{
  font-family: 'Fredericka the Great', cursive;
font-size: 5vw;
text-decoration: none;
color: black;
text-align: center;
   transition: 0.5s;
}
.headNav:hover{
font-size: 5.5vw;
}
a{
  text-decoration: none;
}
.contactTitle{
  font-family: 'Cantata One', serif;
font-size: 3vw;
}
