html{
    overflow-x: hidden;
}


.divider1{
  height: 2.5vw;
}
.divider2{
  height: 5vw;
}
.divider3{
  height: 10vw;
}
.divider4{
  height: 15vw;
}
.divider5{
  height: 20vw;
}

.navHeight{
  height: 8vw;
  width: 100vw;
}
.navHead{
  background-color: #c6c5b9;
}

.bottomContact{
  height: 14vw;
}
.bottomContactMini{
    height: 7vw;
}

.socialimg {
  width: 15vw;
   transition: 0.3s;
}
.socialimg:hover{
  width: 17vw;
}
.headNav{
  font-family: 'Fredericka the Great', cursive;
font-size: 5vw;
text-decoration: none;
color: black;
text-align: center;
   transition: 0.5s;
}
.headNav:hover{
font-size: 6vw;
}
a{
  text-decoration: none;
}
.contactTitle{
  font-family: 'Cantata One', serif;
font-size: 3vw;
}
